In [1]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import column

conf=SparkConf().setAppName("test").setMaster("local[*]")
sc=SparkContext.getOrCreate(conf)
spark=SparkSession(sc)

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('text').master("local").getOrCreate()
sc=spark.sparkContext

In [3]:
c = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('D:\Pyspark\code/air_data_customer.csv')
f = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('D:\Pyspark\code/air_data_flight.csv')
p = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('D:\Pyspark\code/air_data_points.csv')

In [4]:
c.show(3)
f.show(3)
p.show(3)

+---------+---------+------+--------+-------------+------------+---+
|MEMBER_NO| FFP_DATE|GENDER|FFP_TIER|WORK_PROVINCE|WORK_COUNTRY|AGE|
+---------+---------+------+--------+-------------+------------+---+
|    54993|2006/11/2|    男|       6|         北京|          CN| 31|
|    28065|2007/2/19|    男|       6|         北京|          CN| 42|
|    55106| 2007/2/1|    男|       6|         北京|          CN| 40|
+---------+---------+------+--------+-------------+------------+---+
only showing top 3 rows

+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
|MEMBER_NO|FIRST_FLIGHT_DATE|LOAD_TIME|FLIGHT_COUNT|SEG_KM_SUM|LAST_FLIGHT_DATE|SUM_YR_1|SUM_YR_2|LAST_TO_END|AVG_DISCOUNT|AVG_INTERVAL|MAX_INTERVAL|
+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
|    54993|       2008/12/24|2014/3/31|         210|    580717|       2014/3/31|239560.0|  234188|          1| 0.961639043| 3.483253589|          18|
|    28065|         2007/8/3|2014/3/31|         140|    293678|       2014/3/25|171483.0|  167434|          7|  1.25231444| 5.194244604|          17|
|    55106|        2007/8/30|2014/3/31|         135|    283712|       2014/3/21|163618.0|  164982|         11| 1.254675516| 5.298507463|          18|
+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
only showing top 3 rows

+---------+--------------+------+------+----------+--------------+----------+
|MEMBER_NO|EXCHANGE_COUNT|EP_SUM|BP_SUM|AVG_BP_SUM|BEGIN_TO_FIRST|Points_Sum|
+---------+--------------+------+------+----------+--------------+----------+
|    54993|            34| 74460|505308|   63163.5|             2|    619760|
|    28065|            29| 41288|362480|   45310.0|             2|    415768|
|    55106|            20| 39711|351159| 43894.875|            10|    406361|
+---------+--------------+------+------+----------+--------------+----------+
only showing top 3 rows

In [5]:
jdbcdf = spark.read.format('jdbc')\
    .option('driver', 'com.mysql.cj.jdbc.Driver')\
    .option('url', 'jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true')\
    .option('dbtable', 'student')\
    .option('user', 'root')\
    .option('password', '123456')\
    .load()

jdbcdf.show()

+---+--------------------+------+---+
| id|                name|gender|age|
+---+--------------------+------+---+
|  1|Zhangsan            |  M   | 19|
|  2|Limei               |  F   | 19|
+---+--------------------+------+---+

In [6]:
jdbcdf.show()

+---+--------------------+------+---+
| id|                name|gender|age|
+---+--------------------+------+---+
|  1|Zhangsan            |  M   | 19|
|  2|Limei               |  F   | 19|
+---+--------------------+------+---+

In [7]:
Listrdd=sc.parallelize([('zhangsan',18,588),('Lisi',18,590),('wangwu',17,560)])
Listdf=Listrdd.toDF(['name','age','score'])
Listdf.show()

+--------+---+-----+
|    name|age|score|
+--------+---+-----+
|zhangsan| 18|  588|
|    Lisi| 18|  590|
|  wangwu| 17|  560|
+--------+---+-----+

In [8]:
values = [('ZhangSan', 18), ('Lisi', 18), ('WangWu', 17)]
Listdf2 = spark.createDataFrame(values, ['name', 'age'])
Listdf2.show()

+--------+---+
|    name|age|
+--------+---+
|ZhangSan| 18|
|    Lisi| 18|
|  WangWu| 17|
+--------+---+

In [9]:
import pandas as pd

pdf = pd.DataFrame([('张三', 18), ('李四', 18), ('王五', 17)], columns=['name', 'age'])
pandasdf = spark.createDataFrame(pdf)
pandasdf.show()

+----+---+
|name|age|
+----+---+
|张三| 18|
|李四| 18|
|王五| 17|
+----+---+

In [10]:
from pyspark.sql.types import *
from pyspark.sql import Row
from datetime import datetime

schema = StructType([StructField('name', StringType(), nullable=False), \
    StructField('score', IntegerType(), nullable=True), \
    StructField('birthday', DateType(), nullable=True)])

rdd = sc.parallelize([Row('ZhangSan', 588, datetime(2013, 1, 15)), \
    Row('Lisi', 599, datetime(2013, 5, 12)), \
    Row('WangWu', 560, datetime(2014, 7, 23))])

df4 = spark.createDataFrame(rdd, schema)
df4.show()

+--------+-----+----------+
|    name|score|  birthday|
+--------+-----+----------+
|ZhangSan|  588|2013-01-15|
|    Lisi|  599|2013-05-12|
|  WangWu|  560|2014-07-23|
+--------+-----+----------+

In [11]:
p.createOrReplaceTempView('temp_points')
spark.sql('select MEMBER_NO,POINTS_SUM from temp_points').show(5)

+---------+----------+
|MEMBER_NO|POINTS_SUM|
+---------+----------+
|    54993|    619760|
|    28065|    415768|
|    55106|    406361|
|    21189|    372204|
|    39546|    338813|
+---------+----------+
only showing top 5 rows

In [12]:
spark.catalog.dropTempView('temp_points')
p.select('MEMBER_NO','POINTS_SUM').show(5)

+---------+----------+
|MEMBER_NO|POINTS_SUM|
+---------+----------+
|    54993|    619760|
|    28065|    415768|
|    55106|    406361|
|    21189|    372204|
|    39546|    338813|
+---------+----------+
only showing top 5 rows

In [13]:
c.show(5)

+---------+---------+------+--------+-------------+------------+---+
|MEMBER_NO| FFP_DATE|GENDER|FFP_TIER|WORK_PROVINCE|WORK_COUNTRY|AGE|
+---------+---------+------+--------+-------------+------------+---+
|    54993|2006/11/2|    男|       6|         北京|          CN| 31|
|    28065|2007/2/19|    男|       6|         北京|          CN| 42|
|    55106| 2007/2/1|    男|       6|         北京|          CN| 40|
|    21189|2008/8/22|    男|       5|           CA|          US| 64|
|    39546|2009/4/10|    男|       6|         贵州|          CN| 48|
+---------+---------+------+--------+-------------+------------+---+
only showing top 5 rows

In [14]:
c.collect()

[Row(MEMBER_NO=54993, FFP_DATE='2006/11/2', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=31),
 Row(MEMBER_NO=28065, FFP_DATE='2007/2/19', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=55106, FFP_DATE='2007/2/1', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=40),
 Row(MEMBER_NO=21189, FFP_DATE='2008/8/22', GENDER='男', FFP_TIER=5, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=64),
 Row(MEMBER_NO=39546, FFP_DATE='2009/4/10', GENDER='男', FFP_TIER=6, WORK_PROVINCE='贵州', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=56972, FFP_DATE='2008/2/10', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=64),
 Row(MEMBER_NO=44924, FFP_DATE='2006/3/22', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=22631, FFP_DATE='2010/4/9', GENDER='女', FFP_TIER=6, WORK_PROVINCE='浙江', WORK_COUNTRY='CN', AGE=50),
 Row(MEMBER_NO=32197, FFP_DATE='2011/6/7', GENDER='男', FFP_TIER=5, WORK_PROVINCE=None, WORK_COUNTRY='FR', AGE=50),
 Row(MEMBER_NO=31645, FFP_DATE='2010/7/5', GENDER='女', FFP_TIER=6, WORK_PROVINCE='浙江', WORK_COUNTRY='CN', AGE=43),
 Row(MEMBER_NO=58877, FFP_DATE='2010/11/18', GENDER='女', FFP_TIER=6, WORK_PROVINCE='PARIS', WORK_COUNTRY='FR', AGE=34),
 Row(MEMBER_NO=37994, FFP_DATE='2004/11/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='.', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=28012, FFP_DATE='2006/11/23', GENDER='男', FFP_TIER=5, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=58),
 Row(MEMBER_NO=54943, FFP_DATE='2006/10/25', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=57881, FFP_DATE='2010/2/1', GENDER='女', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=45),
 Row(MEMBER_NO=1254, FFP_DATE='2008/3/28', GENDER='男', FFP_TIER=4, WORK_PROVINCE='CALIFORNIA', WORK_COUNTRY='US', AGE=63),
 Row(MEMBER_NO=8253, FFP_DATE='2010/7/15', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=58899, FFP_DATE='2010/11/10', GENDER='女', FFP_TIER=6, WORK_PROVINCE=None, WORK_COUNTRY='FR', AGE=50),
 Row(MEMBER_NO=26955, FFP_DATE='2006/4/6', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=54),
 Row(MEMBER_NO=41616, FFP_DATE='2011/8/29', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=41),
 Row(MEMBER_NO=21501, FFP_DATE='2008/7/30', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=49),
 Row(MEMBER_NO=41281, FFP_DATE='2011/6/7', GENDER='男', FFP_TIER=6, WORK_PROVINCE='NORD BRABANT', WORK_COUNTRY='AN', AGE=None),
 Row(MEMBER_NO=47229, FFP_DATE='2005/4/10', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=69),
 Row(MEMBER_NO=28474, FFP_DATE='2010/4/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=41),
 Row(MEMBER_NO=58472, FFP_DATE='2010/2/14', GENDER='女', FFP_TIER=5, WORK_PROVINCE=None, WORK_COUNTRY='FR', AGE=48),
 Row(MEMBER_NO=13942, FFP_DATE='2010/10/14', GENDER='男', FFP_TIER=6, WORK_PROVINCE='FRANCE', WORK_COUNTRY='FR', AGE=39),
 Row(MEMBER_NO=45075, FFP_DATE='2007/2/1', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=47114, FFP_DATE='2005/1/15', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=54619, FFP_DATE='2006/1/7', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=62),
 Row(MEMBER_NO=12349, FFP_DATE='2008/6/16', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=35883, FFP_DATE='2006/4/11', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=55),
 Row(MEMBER_NO=56091, FFP_DATE='2004/11/25', GENDER='女', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=2137, FFP_DATE='2005/4/11', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=69),
 Row(MEMBER_NO=27708, FFP_DATE='2006/3/20', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=45),
 Row(MEMBER_NO=28014, FFP_DATE='2006/12/1', GENDER='女', FFP_TIER=6, WORK_PROVINCE=None, WORK_COUNTRY='FR', AGE=48),
 Row(MEMBER_NO=3539, FFP_DATE='2009/10/13', GENDER='男', FFP_TIER=4, WORK_PROVINCE='CALIFORNIA', WORK_COUNTRY='US', AGE=53),
 Row(MEMBER_NO=56149, FFP_DATE='2005/2/13', GENDER='男', FFP_TIER=4, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=39),
 Row(MEMBER_NO=44936, FFP_DATE='2006/3/30', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=37),
 Row(MEMBER_NO=62751, FFP_DATE='2007/5/8', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=45),
 Row(MEMBER_NO=40066, FFP_DATE='2009/2/27', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=63),
 Row(MEMBER_NO=18793, FFP_DATE='2006/4/25', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=13963, FFP_DATE='2011/1/18', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=63),
 Row(MEMBER_NO=46084, FFP_DATE='2007/1/4', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=54),
 Row(MEMBER_NO=58798, FFP_DATE='2010/5/4', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=51),
 Row(MEMBER_NO=56089, FFP_DATE='2004/12/4', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=49),
 Row(MEMBER_NO=58693, FFP_DATE='2010/12/11', GENDER='男', FFP_TIER=6, WORK_PROVINCE=None, WORK_COUNTRY='FR', AGE=39),
 Row(MEMBER_NO=28780, FFP_DATE='2012/7/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=27836, FFP_DATE='2006/7/16', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=59),
 Row(MEMBER_NO=38073, FFP_DATE='2005/1/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='湖南', WORK_COUNTRY='CN', AGE=76),
 Row(MEMBER_NO=22629, FFP_DATE='2010/7/15', GENDER='男', FFP_TIER=5, WORK_PROVINCE='TOKYO-TO', WORK_COUNTRY='JP', AGE=49),
 Row(MEMBER_NO=12326, FFP_DATE='2008/5/21', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=40),
 Row(MEMBER_NO=24222, FFP_DATE='2012/1/8', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=51),
 Row(MEMBER_NO=916, FFP_DATE='2006/11/18', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=45008, FFP_DATE='2007/12/10', GENDER='男', FFP_TIER=5, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=54),
 Row(MEMBER_NO=11523, FFP_DATE='2007/7/6', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=49),
 Row(MEMBER_NO=56088, FFP_DATE='2004/12/3', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=41),
 Row(MEMBER_NO=56573, FFP_DATE='2007/11/26', GENDER='女', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=38),
 Row(MEMBER_NO=38883, FFP_DATE='2008/2/2', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=38035, FFP_DATE='2004/12/28', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=11034, FFP_DATE='2005/1/26', GENDER='男', FFP_TIER=5, WORK_PROVINCE='.', WORK_COUNTRY='CN', AGE=59),
 Row(MEMBER_NO=47143, FFP_DATE='2005/2/17', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=29033, FFP_DATE='2004/11/19', GENDER='男', FFP_TIER=6, WORK_PROVINCE='HK', WORK_COUNTRY='HK', AGE=60),
 Row(MEMBER_NO=16812, FFP_DATE='2010/6/9', GENDER='男', FFP_TIER=6, WORK_PROVINCE='Selangor Darul Ehsan', WORK_COUNTRY='MY', AGE=52),
 Row(MEMBER_NO=5241, FFP_DATE='2011/5/14', GENDER='男', FFP_TIER=6, WORK_PROVINCE='浙江', WORK_COUNTRY='CN', AGE=31),
 Row(MEMBER_NO=49208, FFP_DATE='2010/5/28', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=44),
 Row(MEMBER_NO=38241, FFP_DATE='2005/8/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=53),
 Row(MEMBER_NO=38456, FFP_DATE='2007/11/15', GENDER='男', FFP_TIER=5, WORK_PROVINCE='CALIFORNIA', WORK_COUNTRY='US', AGE=39),
 Row(MEMBER_NO=44377, FFP_DATE='2010/7/10', GENDER='男', FFP_TIER=5, WORK_PROVINCE='四川', WORK_COUNTRY='CN', AGE=53),
 Row(MEMBER_NO=49737, FFP_DATE='2010/10/30', GENDER='男', FFP_TIER=6, WORK_PROVINCE='福建', WORK_COUNTRY='CN', AGE=30),
 Row(MEMBER_NO=47919, FFP_DATE='2008/12/14', GENDER='女', FFP_TIER=6, WORK_PROVINCE='VIC', WORK_COUNTRY='AU', AGE=43),
 Row(MEMBER_NO=23528, FFP_DATE='2012/8/15', GENDER='男', FFP_TIER=6, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=33),
 Row(MEMBER_NO=58088, FFP_DATE='2009/10/19', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=55),
 Row(MEMBER_NO=51079, FFP_DATE='2011/12/21', GENDER='男', FFP_TIER=6, WORK_PROVINCE='上海', WORK_COUNTRY='CN', AGE=37),
 Row(MEMBER_NO=19420, FFP_DATE='2007/11/18', GENDER='男', FFP_TIER=6, WORK_PROVINCE='湖南', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=58753, FFP_DATE='2010/10/13', GENDER='男', FFP_TIER=5, WORK_PROVINCE='PARIS', WORK_COUNTRY='FR', AGE=28),
 Row(MEMBER_NO=13517, FFP_DATE='2010/8/14', GENDER='女', FFP_TIER=6, WORK_PROVINCE='PARIS', WORK_COUNTRY='FR', AGE=45),
 Row(MEMBER_NO=56048, FFP_DATE='2013/3/15', GENDER='男', FFP_TIER=6, WORK_PROVINCE='Noord-Holland', WORK_COUNTRY='NL', AGE=46),
 Row(MEMBER_NO=50434, FFP_DATE='2011/6/9', GENDER='男', FFP_TIER=4, WORK_PROVINCE=None, WORK_COUNTRY='US', AGE=44),
 Row(MEMBER_NO=13869, FFP_DATE='2010/10/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=47432, FFP_DATE='2005/10/21', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=60658, FFP_DATE='2012/6/29', GENDER='女', FFP_TIER=6, WORK_PROVINCE='FR', WORK_COUNTRY='FR', AGE=37),
 Row(MEMBER_NO=9744, FFP_DATE='2006/7/13', GENDER='男', FFP_TIER=5, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=53),
 Row(MEMBER_NO=18111, FFP_DATE='2008/9/19', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=44),
 Row(MEMBER_NO=42444, FFP_DATE='2012/4/25', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=67),
 Row(MEMBER_NO=11055, FFP_DATE='2005/2/17', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=47107, FFP_DATE='2004/11/18', GENDER='女', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=57),
 Row(MEMBER_NO=62880, FFP_DATE='2006/5/8', GENDER='男', FFP_TIER=6, WORK_PROVINCE='福建', WORK_COUNTRY='CN', AGE=55),
 Row(MEMBER_NO=49441, FFP_DATE='2010/7/3', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=20569, FFP_DATE='2007/6/28', GENDER='女', FFP_TIER=6, WORK_PROVINCE='重庆', WORK_COUNTRY='CN', AGE=35),
 Row(MEMBER_NO=47687, FFP_DATE='2007/10/5', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=70),
 Row(MEMBER_NO=37305, FFP_DATE='2008/6/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=40),
 Row(MEMBER_NO=58189, FFP_DATE='2011/1/31', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广西', WORK_COUNTRY='CN', AGE=54),
 Row(MEMBER_NO=25857, FFP_DATE='2007/1/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=43),
 Row(MEMBER_NO=951, FFP_DATE='2006/11/28', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=4178, FFP_DATE='2010/4/13', GENDER='男', FFP_TIER=5, WORK_PROVINCE='CA91030', WORK_COUNTRY='US', AGE=41),
 Row(MEMBER_NO=2010, FFP_DATE='2004/11/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=40),
 Row(MEMBER_NO=38290, FFP_DATE='2005/9/23', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=66),
 Row(MEMBER_NO=57622, FFP_DATE='2011/4/14', GENDER='男', FFP_TIER=6, WORK_PROVINCE='ZUID HOLLAND', WORK_COUNTRY='NL', AGE=55),
 Row(MEMBER_NO=2001, FFP_DATE='2004/11/11', GENDER='女', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=39),
 Row(MEMBER_NO=60311, FFP_DATE='2012/4/27', GENDER='男', FFP_TIER=6, WORK_PROVINCE='香港', WORK_COUNTRY='HK', AGE=49),
 Row(MEMBER_NO=36030, FFP_DATE='2008/7/28', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=51),
 Row(MEMBER_NO=35766, FFP_DATE='2008/9/8', GENDER='男', FFP_TIER=6, WORK_PROVINCE='吉林', WORK_COUNTRY='CN', AGE=56),
 Row(MEMBER_NO=33319, FFP_DATE='2012/4/28', GENDER='男', FFP_TIER=5, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=41),
 Row(MEMBER_NO=55096, FFP_DATE='2007/1/3', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=30681, FFP_DATE='2010/5/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE=None, WORK_COUNTRY='JP', AGE=55),
 Row(MEMBER_NO=17837, FFP_DATE='2005/10/22', GENDER='男', FFP_TIER=6, WORK_PROVINCE='吉林', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=3872, FFP_DATE='2009/1/18', GENDER='男', FFP_TIER=6, WORK_PROVINCE='香港', WORK_COUNTRY='HK', AGE=61),
 Row(MEMBER_NO=56201, FFP_DATE='2005/4/5', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=36),
 Row(MEMBER_NO=4468, FFP_DATE='2011/9/14', GENDER='女', FFP_TIER=6, WORK_PROVINCE='ANDE', WORK_COUNTRY='FR', AGE=33),
 Row(MEMBER_NO=32602, FFP_DATE='2011/10/9', GENDER='男', FFP_TIER=6, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=55),
 Row(MEMBER_NO=11277, FFP_DATE='2005/8/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=45),
 Row(MEMBER_NO=45117, FFP_DATE='2010/11/17', GENDER='男', FFP_TIER=6, WORK_PROVINCE='GA', WORK_COUNTRY='US', AGE=30),
 Row(MEMBER_NO=19051, FFP_DATE='2006/11/28', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=19371, FFP_DATE='2007/5/31', GENDER='男', FFP_TIER=5, WORK_PROVINCE='NSW', WORK_COUNTRY='AU', AGE=53),
 Row(MEMBER_NO=60020, FFP_DATE='2012/6/7', GENDER='女', FFP_TIER=4, WORK_PROVINCE='LA', WORK_COUNTRY='US', AGE=49),
 Row(MEMBER_NO=2007, FFP_DATE='2004/11/25', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=43),
 Row(MEMBER_NO=56093, FFP_DATE='2004/11/24', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=59),
 Row(MEMBER_NO=62762, FFP_DATE='2008/8/23', GENDER='男', FFP_TIER=6, WORK_PROVINCE='辽宁', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=49215, FFP_DATE='2010/5/7', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=40),
 Row(MEMBER_NO=20362, FFP_DATE='2005/7/29', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=59),
 Row(MEMBER_NO=38022, FFP_DATE='2004/12/2', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=36),
 Row(MEMBER_NO=47179, FFP_DATE='2005/3/16', GENDER='男', FFP_TIER=4, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=54),
 Row(MEMBER_NO=17903, FFP_DATE='2008/5/30', GENDER='男', FFP_TIER=6, WORK_PROVINCE='吉林', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=45581, FFP_DATE='2005/12/29', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=49),
 Row(MEMBER_NO=47255, FFP_DATE='2005/4/23', GENDER='女', FFP_TIER=5, WORK_PROVINCE='湖北', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=876, FFP_DATE='2006/8/14', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=41),
 Row(MEMBER_NO=6088, FFP_DATE='2011/11/14', GENDER='男', FFP_TIER=5, WORK_PROVINCE='上海', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=50931, FFP_DATE='2012/12/20', GENDER='女', FFP_TIER=6, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=47),
 Row(MEMBER_NO=38443, FFP_DATE='2007/6/8', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=8850, FFP_DATE='2006/4/17', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=51),
 Row(MEMBER_NO=59307, FFP_DATE='2011/3/15', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=34),
 Row(MEMBER_NO=20121, FFP_DATE='2004/11/30', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=66),
 Row(MEMBER_NO=53451, FFP_DATE='2012/6/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=50),
 Row(MEMBER_NO=59669, FFP_DATE='2012/4/11', GENDER='男', FFP_TIER=4, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=62),
 Row(MEMBER_NO=49369, FFP_DATE='2009/10/19', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=63),
 Row(MEMBER_NO=52814, FFP_DATE='2010/10/9', GENDER='男', FFP_TIER=6, WORK_PROVINCE='辽宁', WORK_COUNTRY='CN', AGE=44),
 Row(MEMBER_NO=57377, FFP_DATE='2008/6/20', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=50),
 Row(MEMBER_NO=31219, FFP_DATE='2009/11/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='上海', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=29392, FFP_DATE='2013/3/3', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=33),
 Row(MEMBER_NO=12578, FFP_DATE='2006/6/29', GENDER='女', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=19439, FFP_DATE='2008/4/1', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=51),
 Row(MEMBER_NO=29034, FFP_DATE='2004/11/24', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=2012, FFP_DATE='2004/11/26', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东省', WORK_COUNTRY='CN', AGE=51),
 Row(MEMBER_NO=47194, FFP_DATE='2005/4/2', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=53),
 Row(MEMBER_NO=26406, FFP_DATE='2009/8/27', GENDER='男', FFP_TIER=6, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=56),
 Row(MEMBER_NO=56437, FFP_DATE='2005/11/16', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=56),
 Row(MEMBER_NO=59509, FFP_DATE='2012/5/2', GENDER='男', FFP_TIER=5, WORK_PROVINCE='辽宁', WORK_COUNTRY='CN', AGE=39),
 Row(MEMBER_NO=13061, FFP_DATE='2009/3/29', GENDER='男', FFP_TIER=4, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=52),
 Row(MEMBER_NO=12155, FFP_DATE='2009/6/4', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=31),
 Row(MEMBER_NO=26960, FFP_DATE='2006/4/15', GENDER='男', FFP_TIER=5, WORK_PROVINCE='新疆', WORK_COUNTRY='CN', AGE=47),
 Row(MEMBER_NO=1123, FFP_DATE='2007/5/8', GENDER='男', FFP_TIER=4, WORK_PROVINCE='NOORD HOLLAND', WORK_COUNTRY='NL', AGE=51),
 Row(MEMBER_NO=12536, FFP_DATE='2010/5/27', GENDER='男', FFP_TIER=6, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=78),
 Row(MEMBER_NO=43627, FFP_DATE='2009/12/27', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=43),
 Row(MEMBER_NO=37021, FFP_DATE='2006/12/25', GENDER='男', FFP_TIER=6, WORK_PROVINCE='香港', WORK_COUNTRY='HK', AGE=51),
 Row(MEMBER_NO=40792, FFP_DATE='2010/8/8', GENDER='女', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=28),
 Row(MEMBER_NO=22418, FFP_DATE='2010/8/6', GENDER='男', FFP_TIER=6, WORK_PROVINCE='IIE DE FRANCE', WORK_COUNTRY='FR', AGE=37),
 Row(MEMBER_NO=27900, FFP_DATE='2006/9/15', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=49),
 Row(MEMBER_NO=21245, FFP_DATE='2008/5/5', GENDER='男', FFP_TIER=6, WORK_PROVINCE='上海', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=2006, FFP_DATE='2004/11/24', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=45),
 Row(MEMBER_NO=11028, FFP_DATE='2005/1/22', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=38),
 Row(MEMBER_NO=62642, FFP_DATE='2007/2/7', GENDER='男', FFP_TIER=6, WORK_PROVINCE='吉林', WORK_COUNTRY='CN', AGE=61),
 Row(MEMBER_NO=29051, FFP_DATE='2004/12/7', GENDER='女', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=46),
 Row(MEMBER_NO=19073, FFP_DATE='2006/11/9', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=39),
 Row(MEMBER_NO=58686, FFP_DATE='2011/1/19', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=32),
 Row(MEMBER_NO=781, FFP_DATE='2006/7/23', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=49),
 Row(MEMBER_NO=36780, FFP_DATE='2006/7/10', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=48),
 Row(MEMBER_NO=1359, FFP_DATE='2010/1/13', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=45),
 Row(MEMBER_NO=29076, FFP_DATE='2005/1/19', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=56),
 Row(MEMBER_NO=49714, FFP_DATE='2011/3/30', GENDER='女', FFP_TIER=5, WORK_PROVINCE='CA', WORK_COUNTRY='US', AGE=49),
 Row(MEMBER_NO=55458, FFP_DATE='2010/2/12', GENDER='男', FFP_TIER=6, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=30),
 Row(MEMBER_NO=59905, FFP_DATE='2011/9/13', GENDER='男', FFP_TIER=5, WORK_PROVINCE='广东', WORK_COUNTRY='CN', AGE=41),

In [15]:
c.take(3)

[Row(MEMBER_NO=54993, FFP_DATE='2006/11/2', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=31),
 Row(MEMBER_NO=28065, FFP_DATE='2007/2/19', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=42),
 Row(MEMBER_NO=55106, FFP_DATE='2007/2/1', GENDER='男', FFP_TIER=6, WORK_PROVINCE='北京', WORK_COUNTRY='CN', AGE=40)]

In [16]:
c.describe('AGE').show()

+-------+-----------------+
|summary|              AGE|
+-------+-----------------+
|  count|            62568|
|   mean|42.47634573583941|
| stddev|9.885914823660341|
|    min|                6|
|    max|              110|
+-------+-----------------+

In [17]:
c.printSchema()
f.printSchema()
p.printSchema()

root
 |-- MEMBER_NO: integer (nullable = true)
 |-- FFP_DATE: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- FFP_TIER: integer (nullable = true)
 |-- WORK_PROVINCE: string (nullable = true)
 |-- WORK_COUNTRY: string (nullable = true)
 |-- AGE: integer (nullable = true)

root
 |-- MEMBER_NO: integer (nullable = true)
 |-- FIRST_FLIGHT_DATE: string (nullable = true)
 |-- LOAD_TIME: string (nullable = true)
 |-- FLIGHT_COUNT: integer (nullable = true)
 |-- SEG_KM_SUM: integer (nullable = true)
 |-- LAST_FLIGHT_DATE: string (nullable = true)
 |-- SUM_YR_1: double (nullable = true)
 |-- SUM_YR_2: integer (nullable = true)
 |-- LAST_TO_END: integer (nullable = true)
 |-- AVG_DISCOUNT: double (nullable = true)
 |-- AVG_INTERVAL: double (nullable = true)
 |-- MAX_INTERVAL: integer (nullable = true)

root
 |-- MEMBER_NO: integer (nullable = true)
 |-- EXCHANGE_COUNT: integer (nullable = true)
 |-- EP_SUM: integer (nullable = true)
 |-- BP_SUM: integer (nullable = true)
 |-- AVG_BP_SUM: double (nullable = true)
 |-- BEGIN_TO_FIRST: integer (nullable = true)
 |-- Points_Sum: integer (nullable = true)

In [18]:
f.select('MEMBER_NO', 'FLIGHT_COUNT', 'SUM_YR_1', 'SUM_YR_2').show(5)

+---------+------------+--------+--------+
|MEMBER_NO|FLIGHT_COUNT|SUM_YR_1|SUM_YR_2|
+---------+------------+--------+--------+
|    54993|         210|239560.0|  234188|
|    28065|         140|171483.0|  167434|
|    55106|         135|163618.0|  164982|
|    21189|          23|116350.0|  125500|
|    39546|         152|124560.0|  130702|
+---------+------------+--------+--------+
only showing top 5 rows

In [19]:
f.selectExpr('MEMBER_NO', 'FLIGHT_COUNT', 'SUM_YR_1+SUM_YR_2 as SUM').show(5)

+---------+------------+--------+
|MEMBER_NO|FLIGHT_COUNT|     SUM|
+---------+------------+--------+
|    54993|         210|473748.0|
|    28065|         140|338917.0|
|    55106|         135|328600.0|
|    21189|          23|241850.0|
|    39546|         152|255262.0|
+---------+------------+--------+
only showing top 5 rows

In [20]:
f.where('FLIGHT_COUNT > 200 or SEG_KM_SUM > 300000').show()

+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
|MEMBER_NO|FIRST_FLIGHT_DATE|LOAD_TIME|FLIGHT_COUNT|SEG_KM_SUM|LAST_FLIGHT_DATE|SUM_YR_1|SUM_YR_2|LAST_TO_END|AVG_DISCOUNT|AVG_INTERVAL|MAX_INTERVAL|
+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
|    54993|       2008/12/24|2014/3/31|         210|    580717|       2014/3/31|239560.0|  234188|          1| 0.961639043| 3.483253589|          18|
|    39546|        2009/4/15|2014/3/31|         152|    309928|       2014/3/27|124560.0|  130702|          5| 0.970657895|  4.78807947|          47|
|    32197|         2011/7/1|2014/3/31|          56|    321489|       2014/3/26| 72596.0|   87401|          6| 0.828478237| 13.05454545|          94|
|    31645|         2010/7/5|2014/3/31|          64|    375074|       2014/3/17| 85258.0|   60267|         15| 0.708010153| 11.33333333|          73|
|    28012|       2007/11/18|2014/3/31|          29|    321529|       2014/1/25| 44750.0|   53977|         67| 0.799126984|        23.0|         112|
|    41616|       2011/10/22|2014/3/31|          38|    332896|        2014/3/8| 60930.0|   52316|         24|  0.70828541| 18.67567568|          74|
|    47229|        2005/4/10|2014/3/31|          94|    305250|        2014/3/9| 59169.0|   74497|         23| 0.741803833|  7.47311828|          42|
|    45075|        2007/3/23|2014/3/31|         213|    187917|       2014/3/29|136769.0|   96568|          3| 1.146354614| 3.433962264|          37|
+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+

In [21]:
f.where('FLIGHT_COUNT > 200 or SEG_KM_SUM > 300000') \
 .select('MEMBER_NO', 'FLIGHT_COUNT', 'SEG_KM_SUM').show()

+---------+------------+----------+
|MEMBER_NO|FLIGHT_COUNT|SEG_KM_SUM|
+---------+------------+----------+
|    54993|         210|    580717|
|    39546|         152|    309928|
|    32197|          56|    321489|
|    31645|          64|    375074|
|    28012|          29|    321529|
|    41616|          38|    332896|
|    47229|          94|    305250|
|    45075|         213|    187917|
+---------+------------+----------+

In [22]:
customerdf_test = c.alias('customerdf_test')

In [23]:
customerdf_test.show(3)

+---------+---------+------+--------+-------------+------------+---+
|MEMBER_NO| FFP_DATE|GENDER|FFP_TIER|WORK_PROVINCE|WORK_COUNTRY|AGE|
+---------+---------+------+--------+-------------+------------+---+
|    54993|2006/11/2|    男|       6|         北京|          CN| 31|
|    28065|2007/2/19|    男|       6|         北京|          CN| 42|
|    55106| 2007/2/1|    男|       6|         北京|          CN| 40|
+---------+---------+------+--------+-------------+------------+---+
only showing top 3 rows

In [24]:
customerdf_test.count()

62988

In [25]:
customerdf_test.distinct().count()  # 输出: 62988

62988

In [26]:
customerdf_test.dropDuplicates(['WORK_COUNTRY']).show(5)

+---------+----------+------+--------+-------------+------------+----+
|MEMBER_NO|  FFP_DATE|GENDER|FFP_TIER|WORK_PROVINCE|WORK_COUNTRY| AGE|
+---------+----------+------+--------+-------------+------------+----+
|    45041| 2007/7/26|    男|       4|         NULL|        NULL|  49|
|    55059|2006/12/27|    男|       4|         NULL|          AA|  44|
|    43276| 2012/12/7|    男|       4|         baku|          AB|  25|
|    60584| 2012/6/29|    男|       5|         NULL|          AE|  58|
|    41281|  2011/6/7|    男|       6| NORD BRABANT|          AN|NULL|
+---------+----------+------+--------+-------------+------------+----+
only showing top 5 rows