# 冉瑞淮

In [79]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import column
#添加注释#
conf=SparkConf().setAppName("test").setMaster("local[*]")
sc=SparkContext.getOrCreate(conf)
spark=SparkSession(sc)

# 陶博 
# 通过csv文件创建dataframe的两种写法

In [80]:
#将csv文件读取并创建DataFrame#
df = spark.read.csv("./用户访问日志文件部分数据.csv", encoding="utf-8")
df.show(100)
#另一种写法#
df = spark.read.format("csv").option("ecoding=","UTF-8").load('./用户访问日志文件部分数据.csv')
df.show(100)

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|      日期|城市|姓名|  性别|年龄|  编程语言|
|2021-10-30|西安|刘涛|  male|  34|       PHP|
|2021-09-13|天津|杨超|  male|  43|        Go|
|2021-09-21|北京|王超|  male|  39|     Swift|
|2021-09-12|深圳|张慧|female|  21|      Rust|
|2021-09-27|上海|杨伟|  male|  20|    Python|
|2021-10-14|长沙|刘涛|  male|  35|TypeScript|
|2021-10-01|南京|王伟|  male|  40|     Swift|
|2021-09-07|西安|赵丽|female|  44|        Go|
|2021-09-05|南京|周磊|  male|  38|      Java|
|2021-10-31|苏州|王磊|  male|  40|    Python|
|2021-09-26|广州|杨磊|  male|  41|    Kotlin|
|2021-09-22|苏州|吴敏|female|  44|     Swift|
|2021-10-09|苏州|黄静|female|  35|       PHP|
|2021-10-23|杭州|陈慧|female|  18|      Java|
|2021-09-15|长沙|张军|  male|  21|      Ruby|
|2021-09-19|北京|杨勇|  male|  28|    Kotlin|
|2021-09-29|杭州|王芳|female|  35|     Swift|
|2021-09-16|深圳|陈洋|  male|  43|TypeScript|
|2021-10-09|长沙|赵婷|female|  26|    Kotlin|
|2021-10-31|南京|周峰|  male|  28|       C++|
|2021-10-18|北京|杨娜|female|  42|       C++|
|2021-09-08|杭州|杨军|  male|  42|        Go|
|2021-10-04|苏州|李洋|  male|  26|      Ruby|
|2021-10-03|武汉|陈勇|  male|  19|      Java|
|2021-09-22|西安|杨峰|  male|  37|      Rust|
|2021-09-21|天津|张伟|  male|  41|     Swift|
|2021-09-22|长沙|赵涛|  male|  22|       PHP|
|2021-09-17|深圳|吴艳|female|  45|    Python|
|2021-09-23|上海|赵敏|female|  41|      Java|
|2021-09-05|重庆|张涛|  male|  35|      Ruby|
|2021-09-25|长沙|李婷|female|  31|    Kotlin|
|2021-10-25|深圳|杨峰|  male|  44|JavaScript|
|2021-10-12|南京|张娜|female|  22|TypeScript|
|2021-09-24|深圳|陈娟|female|  24|      Ruby|
|2021-09-07|广州|张伟|  male|  41|      Ruby|
|2021-10-03|重庆|李明|  male|  32|     Swift|
|2021-10-07|天津|李军|  male|  25|TypeScript|
|2021-09-18|成都|陈伟|  male|  31|    Python|
|2021-10-05|天津|陈玲|female|  40|     Swift|
|2021-09-04|苏州|刘艳|female|  36|      Java|
|2021-09-24|南京|张强|  male|  20|    Python|
|2021-09-29|重庆|吴强|  male|  22|      Rust|
|2021-09-20|武汉|周涛|  male|  22|      Java|
|2021-10-16|南京|李勇|  male|  43|     Swift|
|2021-09-13|西安|赵强|  male|  21|       PHP|
|2021-09-05|长沙|周静|female|  33|     Swift|
|2021-09-11|重庆|黄婷|female|  36|     Swift|
|2021-09-23|上海|刘军|  male|  44|        Go|
|2021-10-24|南京|张勇|  male|  21|        Go|
|2021-10-30|北京|吴玲|female|  38|        Go|
|2021-10-23|上海|王超|  male|  36|     Swift|
|2021-10-24|天津|刘婷|female|  37|      Java|
|2021-09-21|天津|黄超|  male|  25|    Python|
|2021-10-15|深圳|吴丽|female|  31|        Go|
|2021-10-25|成都|吴军|  male|  22|      Rust|
|2021-09-09|广州|周峰|  male|  37|        Go|
|2021-09-11|苏州|张军|  male|  33|    Python|
|2021-09-24|上海|周洋|  male|  38|       C++|
|2021-10-11|重庆|赵娜|female|  44|      Rust|
|2021-09-17|重庆|周敏|female|  30|       C++|
|2021-09-18|苏州|陈娟|female|  43|    Kotlin|
|2021-10-06|武汉|黄慧|female|  20|    Kotlin|
|2021-10-31|北京|李玲|female|  19|JavaScript|
|2021-10-03|上海|赵磊|  male|  25|      Rust|
|2021-09-20|长沙|周勇|  male|  23|     Swift|
|2021-09-19|北京|李军|  male|  32|    Python|
|2021-10-28|重庆|黄玲|female|  29|JavaScript|
|2021-10-07|杭州|周艳|female|  33|       PHP|
|2021-10-01|重庆|张慧|female|  39|      Rust|
|2021-10-20|天津|李涛|  male|  23|TypeScript|
|2021-10-17|长沙|周明|  male|  21|      Ruby|
|2021-09-03|天津|王军|  male|  40|      Rust|
|2021-10-22|苏州|刘军|  male|  29|TypeScript|
|2021-09-18|长沙|周芳|female|  25|       C++|
|2021-10-21|南京|吴敏|female|  35|      Rust|
|2021-09-14|北京|杨艳|female|  42|      Rust|
|2021-09-29|深圳|刘伟|  male|  42|      Rust|
|2021-09-28|西安|黄静|female|  19|TypeScript|
|2021-09-11|西安|周峰|  male|  22|JavaScript|
|2021-09-04|杭州|张玲|female|  31|      Rust|
|2021-10-02|苏州|张娜|female|  33|JavaScript|
|2021-10-02|广州|吴磊|  male|  22|       PHP|
|2021-09-28|南京|张涛|  male|  22|      Java|
|2021-09-12|北京|刘婷|female|  19|     Swift|
|2021-09-21|天津|周勇|  male|  26|     Swift|
|2021-10-07|杭州|赵峰|  male|  26|JavaScript|
|2021-09-11|北京|周强|  male|  23|TypeScript|
|2021-10-08|长沙|周强|  male|  37|       C++|
|2021-09-14|杭州|王超|  male|  43|    Python|
|2021-09-20|重庆|杨洋|  male|  40|    Python|
|2021-09-28|天津|李芳|female|  25|JavaScript|
|2021-10-17|广州|周静|female|  32|        Go|
|2021-09-17|杭州|杨军|  male|  41|    Kotlin|
|2021-09-21|北京|杨洋|  male|  33|     Swift|
|2021-09-22|天津|赵伟|  male|  26|        Go|
|2021-09-20|南京|周敏|female|  24|    Kotlin|
|2021-10-16|上海|张伟|  male|  19|        Go|
|2021-10-16|深圳|李强|  male|  42|     Swift|
|2021-09-05|武汉|赵芳|female|  31|TypeScript|
+----------+----+----+------+----+----------+
only showing top 100 rows

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|      日期|城市|姓名|  性别|年龄|  编程语言|
|2021-10-30|西安|刘涛|  male|  34|       PHP|
|2021-09-13|天津|杨超|  male|  43|        Go|
|2021-09-21|北京|王超|  male|  39|     Swift|
|2021-09-12|深圳|张慧|female|  21|      Rust|
|2021-09-27|上海|杨伟|  male|  20|    Python|
|2021-10-14|长沙|刘涛|  male|  35|TypeScript|
|2021-10-01|南京|王伟|  male|  40|     Swift|
|2021-09-07|西安|赵丽|female|  44|        Go|
|2021-09-05|南京|周磊|  male|  38|      Java|
|2021-10-31|苏州|王磊|  male|  40|    Python|
|2021-09-26|广州|杨磊|  male|  41|    Kotlin|
|2021-09-22|苏州|吴敏|female|  44|     Swift|
|2021-10-09|苏州|黄静|female|  35|       PHP|
|2021-10-23|杭州|陈慧|female|  18|      Java|
|2021-09-15|长沙|张军|  male|  21|      Ruby|
|2021-09-19|北京|杨勇|  male|  28|    Kotlin|
|2021-09-29|杭州|王芳|female|  35|     Swift|
|2021-09-16|深圳|陈洋|  male|  43|TypeScript|
|2021-10-09|长沙|赵婷|female|  26|    Kotlin|
|2021-10-31|南京|周峰|  male|  28|       C++|
|2021-10-18|北京|杨娜|female|  42|       C++|
|2021-09-08|杭州|杨军|  male|  42|        Go|
|2021-10-04|苏州|李洋|  male|  26|      Ruby|
|2021-10-03|武汉|陈勇|  male|  19|      Java|
|2021-09-22|西安|杨峰|  male|  37|      Rust|
|2021-09-21|天津|张伟|  male|  41|     Swift|
|2021-09-22|长沙|赵涛|  male|  22|       PHP|
|2021-09-17|深圳|吴艳|female|  45|    Python|
|2021-09-23|上海|赵敏|female|  41|      Java|
|2021-09-05|重庆|张涛|  male|  35|      Ruby|
|2021-09-25|长沙|李婷|female|  31|    Kotlin|
|2021-10-25|深圳|杨峰|  male|  44|JavaScript|
|2021-10-12|南京|张娜|female|  22|TypeScript|
|2021-09-24|深圳|陈娟|female|  24|      Ruby|
|2021-09-07|广州|张伟|  male|  41|      Ruby|
|2021-10-03|重庆|李明|  male|  32|     Swift|
|2021-10-07|天津|李军|  male|  25|TypeScript|
|2021-09-18|成都|陈伟|  male|  31|    Python|
|2021-10-05|天津|陈玲|female|  40|     Swift|
|2021-09-04|苏州|刘艳|female|  36|      Java|
|2021-09-24|南京|张强|  male|  20|    Python|
|2021-09-29|重庆|吴强|  male|  22|      Rust|
|2021-09-20|武汉|周涛|  male|  22|      Java|
|2021-10-16|南京|李勇|  male|  43|     Swift|
|2021-09-13|西安|赵强|  male|  21|       PHP|
|2021-09-05|长沙|周静|female|  33|     Swift|
|2021-09-11|重庆|黄婷|female|  36|     Swift|
|2021-09-23|上海|刘军|  male|  44|        Go|
|2021-10-24|南京|张勇|  male|  21|        Go|
|2021-10-30|北京|吴玲|female|  38|        Go|
|2021-10-23|上海|王超|  male|  36|     Swift|
|2021-10-24|天津|刘婷|female|  37|      Java|
|2021-09-21|天津|黄超|  male|  25|    Python|
|2021-10-15|深圳|吴丽|female|  31|        Go|
|2021-10-25|成都|吴军|  male|  22|      Rust|
|2021-09-09|广州|周峰|  male|  37|        Go|
|2021-09-11|苏州|张军|  male|  33|    Python|
|2021-09-24|上海|周洋|  male|  38|       C++|
|2021-10-11|重庆|赵娜|female|  44|      Rust|
|2021-09-17|重庆|周敏|female|  30|       C++|
|2021-09-18|苏州|陈娟|female|  43|    Kotlin|
|2021-10-06|武汉|黄慧|female|  20|    Kotlin|
|2021-10-31|北京|李玲|female|  19|JavaScript|
|2021-10-03|上海|赵磊|  male|  25|      Rust|
|2021-09-20|长沙|周勇|  male|  23|     Swift|
|2021-09-19|北京|李军|  male|  32|    Python|
|2021-10-28|重庆|黄玲|female|  29|JavaScript|
|2021-10-07|杭州|周艳|female|  33|       PHP|
|2021-10-01|重庆|张慧|female|  39|      Rust|
|2021-10-20|天津|李涛|  male|  23|TypeScript|
|2021-10-17|长沙|周明|  male|  21|      Ruby|
|2021-09-03|天津|王军|  male|  40|      Rust|
|2021-10-22|苏州|刘军|  male|  29|TypeScript|
|2021-09-18|长沙|周芳|female|  25|       C++|
|2021-10-21|南京|吴敏|female|  35|      Rust|
|2021-09-14|北京|杨艳|female|  42|      Rust|
|2021-09-29|深圳|刘伟|  male|  42|      Rust|
|2021-09-28|西安|黄静|female|  19|TypeScript|
|2021-09-11|西安|周峰|  male|  22|JavaScript|
|2021-09-04|杭州|张玲|female|  31|      Rust|
|2021-10-02|苏州|张娜|female|  33|JavaScript|
|2021-10-02|广州|吴磊|  male|  22|       PHP|
|2021-09-28|南京|张涛|  male|  22|      Java|
|2021-09-12|北京|刘婷|female|  19|     Swift|
|2021-09-21|天津|周勇|  male|  26|     Swift|
|2021-10-07|杭州|赵峰|  male|  26|JavaScript|
|2021-09-11|北京|周强|  male|  23|TypeScript|
|2021-10-08|长沙|周强|  male|  37|       C++|
|2021-09-14|杭州|王超|  male|  43|    Python|
|2021-09-20|重庆|杨洋|  male|  40|    Python|
|2021-09-28|天津|李芳|female|  25|JavaScript|
|2021-10-17|广州|周静|female|  32|        Go|
|2021-09-17|杭州|杨军|  male|  41|    Kotlin|
|2021-09-21|北京|杨洋|  male|  33|     Swift|
|2021-09-22|天津|赵伟|  male|  26|        Go|
|2021-09-20|南京|周敏|female|  24|    Kotlin|
|2021-10-16|上海|张伟|  male|  19|        Go|
|2021-10-16|深圳|李强|  male|  42|     Swift|
|2021-09-05|武汉|赵芳|female|  31|TypeScript|
+----------+----+----+------+----+----------+
only showing top 100 rows

# 刘倩
# show的用法

In [81]:
df.show()         #默认20行

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|      日期|城市|姓名|  性别|年龄|  编程语言|
|2021-10-30|西安|刘涛|  male|  34|       PHP|
|2021-09-13|天津|杨超|  male|  43|        Go|
|2021-09-21|北京|王超|  male|  39|     Swift|
|2021-09-12|深圳|张慧|female|  21|      Rust|
|2021-09-27|上海|杨伟|  male|  20|    Python|
|2021-10-14|长沙|刘涛|  male|  35|TypeScript|
|2021-10-01|南京|王伟|  male|  40|     Swift|
|2021-09-07|西安|赵丽|female|  44|        Go|
|2021-09-05|南京|周磊|  male|  38|      Java|
|2021-10-31|苏州|王磊|  male|  40|    Python|
|2021-09-26|广州|杨磊|  male|  41|    Kotlin|
|2021-09-22|苏州|吴敏|female|  44|     Swift|
|2021-10-09|苏州|黄静|female|  35|       PHP|
|2021-10-23|杭州|陈慧|female|  18|      Java|
|2021-09-15|长沙|张军|  male|  21|      Ruby|
|2021-09-19|北京|杨勇|  male|  28|    Kotlin|
|2021-09-29|杭州|王芳|female|  35|     Swift|
|2021-09-16|深圳|陈洋|  male|  43|TypeScript|
|2021-10-09|长沙|赵婷|female|  26|    Kotlin|
+----------+----+----+------+----+----------+
only showing top 20 rows

In [82]:
df.show(3) #只显示前面三行

+----------+----+----+----+----+--------+
|       _c0| _c1| _c2| _c3| _c4|     _c5|
+----------+----+----+----+----+--------+
|      日期|城市|姓名|性别|年龄|编程语言|
|2021-10-30|西安|刘涛|male|  34|     PHP|
|2021-09-13|天津|杨超|male|  43|      Go|
+----------+----+----+----+----+--------+
only showing top 3 rows

In [83]:
df.show(truncate=False)    #完整显示所有字段

+----------+----+----+------+----+----------+
|_c0       |_c1 |_c2 |_c3   |_c4 |_c5       |
+----------+----+----+------+----+----------+
|日期      |城市|姓名|性别  |年龄|编程语言  |
|2021-10-30|西安|刘涛|male  |34  |PHP       |
|2021-09-13|天津|杨超|male  |43  |Go        |
|2021-09-21|北京|王超|male  |39  |Swift     |
|2021-09-12|深圳|张慧|female|21  |Rust      |
|2021-09-27|上海|杨伟|male  |20  |Python    |
|2021-10-14|长沙|刘涛|male  |35  |TypeScript|
|2021-10-01|南京|王伟|male  |40  |Swift     |
|2021-09-07|西安|赵丽|female|44  |Go        |
|2021-09-05|南京|周磊|male  |38  |Java      |
|2021-10-31|苏州|王磊|male  |40  |Python    |
|2021-09-26|广州|杨磊|male  |41  |Kotlin    |
|2021-09-22|苏州|吴敏|female|44  |Swift     |
|2021-10-09|苏州|黄静|female|35  |PHP       |
|2021-10-23|杭州|陈慧|female|18  |Java      |
|2021-09-15|长沙|张军|male  |21  |Ruby      |
|2021-09-19|北京|杨勇|male  |28  |Kotlin    |
|2021-09-29|杭州|王芳|female|35  |Swift     |
|2021-09-16|深圳|陈洋|male  |43  |TypeScript|
|2021-10-09|长沙|赵婷|female|26  |Kotlin    |
+----------+----+----+------+----+----------+
only showing top 20 rows

In [84]:
df.show(truncate=10)   #最多显示10个字符

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|      日期|城市|姓名|  性别|年龄|  编程语言|
|2021-10-30|西安|刘涛|  male|  34|       PHP|
|2021-09-13|天津|杨超|  male|  43|        Go|
|2021-09-21|北京|王超|  male|  39|     Swift|
|2021-09-12|深圳|张慧|female|  21|      Rust|
|2021-09-27|上海|杨伟|  male|  20|    Python|
|2021-10-14|长沙|刘涛|  male|  35|TypeScript|
|2021-10-01|南京|王伟|  male|  40|     Swift|
|2021-09-07|西安|赵丽|female|  44|        Go|
|2021-09-05|南京|周磊|  male|  38|      Java|
|2021-10-31|苏州|王磊|  male|  40|    Python|
|2021-09-26|广州|杨磊|  male|  41|    Kotlin|
|2021-09-22|苏州|吴敏|female|  44|     Swift|
|2021-10-09|苏州|黄静|female|  35|       PHP|
|2021-10-23|杭州|陈慧|female|  18|      Java|
|2021-09-15|长沙|张军|  male|  21|      Ruby|
|2021-09-19|北京|杨勇|  male|  28|    Kotlin|
|2021-09-29|杭州|王芳|female|  35|     Swift|
|2021-09-16|深圳|陈洋|  male|  43|TypeScript|
|2021-10-09|长沙|赵婷|female|  26|    Kotlin|
+----------+----+----+------+----+----------+
only showing top 20 rows

In [85]:
df.show(vertical=True)  #字典一样分行显示字段和值

-RECORD 0---------
 _c0 | 日期
 _c1 | 城市
 _c2 | 姓名
 _c3 | 性别
 _c4 | 年龄
 _c5 | 编程语言
-RECORD 1---------
 _c0 | 2021-10-30
 _c1 | 西安
 _c2 | 刘涛
 _c3 | male
 _c4 | 34
 _c5 | PHP
-RECORD 2---------
 _c0 | 2021-09-13
 _c1 | 天津
 _c2 | 杨超
 _c3 | male
 _c4 | 43
 _c5 | Go
-RECORD 3---------
 _c0 | 2021-09-21
 _c1 | 北京
 _c2 | 王超
 _c3 | male
 _c4 | 39
 _c5 | Swift
-RECORD 4---------
 _c0 | 2021-09-12
 _c1 | 深圳
 _c2 | 张慧
 _c3 | female
 _c4 | 21
 _c5 | Rust
-RECORD 5---------
 _c0 | 2021-09-27
 _c1 | 上海
 _c2 | 杨伟
 _c3 | male
 _c4 | 20
 _c5 | Python
-RECORD 6---------
 _c0 | 2021-10-14
 _c1 | 长沙
 _c2 | 刘涛
 _c3 | male
 _c4 | 35
 _c5 | TypeScript
-RECORD 7---------
 _c0 | 2021-10-01
 _c1 | 南京
 _c2 | 王伟
 _c3 | male
 _c4 | 40
 _c5 | Swift
-RECORD 8---------
 _c0 | 2021-09-07
 _c1 | 西安
 _c2 | 赵丽
 _c3 | female
 _c4 | 44
 _c5 | Go
-RECORD 9---------
 _c0 | 2021-09-05
 _c1 | 南京
 _c2 | 周磊
 _c3 | male
 _c4 | 38
 _c5 | Java
-RECORD 10--------
 _c0 | 2021-10-31
 _c1 | 苏州
 _c2 | 王磊
 _c3 | male
 _c4 | 40
 _c5 | Python
-RECORD 11--------
 _c0 | 2021-09-26
 _c1 | 广州
 _c2 | 杨磊
 _c3 | male
 _c4 | 41
 _c5 | Kotlin
-RECORD 12--------
 _c0 | 2021-09-22
 _c1 | 苏州
 _c2 | 吴敏
 _c3 | female
 _c4 | 44
 _c5 | Swift
-RECORD 13--------
 _c0 | 2021-10-09
 _c1 | 苏州
 _c2 | 黄静
 _c3 | female
 _c4 | 35
 _c5 | PHP
-RECORD 14--------
 _c0 | 2021-10-23
 _c1 | 杭州
 _c2 | 陈慧
 _c3 | female
 _c4 | 18
 _c5 | Java
-RECORD 15--------
 _c0 | 2021-09-15
 _c1 | 长沙
 _c2 | 张军
 _c3 | male
 _c4 | 21
 _c5 | Ruby
-RECORD 16--------
 _c0 | 2021-09-19
 _c1 | 北京
 _c2 | 杨勇
 _c3 | male
 _c4 | 28
 _c5 | Kotlin
-RECORD 17--------
 _c0 | 2021-09-29
 _c1 | 杭州
 _c2 | 王芳
 _c3 | female
 _c4 | 35
 _c5 | Swift
-RECORD 18--------
 _c0 | 2021-09-16
 _c1 | 深圳
 _c2 | 陈洋
 _c3 | male
 _c4 | 43
 _c5 | TypeScript
-RECORD 19--------
 _c0 | 2021-10-09
 _c1 | 长沙
 _c2 | 赵婷
 _c3 | female
 _c4 | 26
 _c5 | Kotlin
only showing top 20 rows

In [86]:
df.show(2,truncate=False,vertical=True)  #显示前面2行，不截断

-RECORD 0---------
 _c0 | 日期
 _c1 | 城市
 _c2 | 姓名
 _c3 | 性别
 _c4 | 年龄
 _c5 | 编程语言
-RECORD 1---------
 _c0 | 2021-10-30
 _c1 | 西安
 _c2 | 刘涛
 _c3 | male
 _c4 | 34
 _c5 | PHP
only showing top 2 rows

In [87]:
df.head(5) #显示前5行
df.limit(5).show()  #直接显示

from pyspark.sql.functions import desc  #显示最后5行 排序

+----------+----+----+------+----+--------+
|       _c0| _c1| _c2|   _c3| _c4|     _c5|
+----------+----+----+------+----+--------+
|      日期|城市|姓名|  性别|年龄|编程语言|
|2021-10-30|西安|刘涛|  male|  34|     PHP|
|2021-09-13|天津|杨超|  male|  43|      Go|
|2021-09-21|北京|王超|  male|  39|   Swift|
|2021-09-12|深圳|张慧|female|  21|    Rust|
+----------+----+----+------+----+--------+

In [88]:
df.limit(10).toPandas()  #转为pandas表格

          _c0 _c1 _c2     _c3 _c4         _c5
0          日期  城市  姓名      性别  年龄        编程语言
1  2021-10-30  西安  刘涛    male  34         PHP
2  2021-09-13  天津  杨超    male  43          Go
3  2021-09-21  北京  王超    male  39       Swift
4  2021-09-12  深圳  张慧  female  21        Rust
5  2021-09-27  上海  杨伟    male  20      Python
6  2021-10-14  长沙  刘涛    male  35  TypeScript
7  2021-10-01  南京  王伟    male  40       Swift
8  2021-09-07  西安  赵丽  female  44          Go
9  2021-09-05  南京  周磊    male  38        Java

In [89]:
df.filter(df._c4 > 17).show()  #显示年龄大于17

+----------+----+----+------+---+----------+
|       _c0| _c1| _c2|   _c3|_c4|       _c5|
+----------+----+----+------+---+----------+
|2021-10-30|西安|刘涛|  male| 34|       PHP|
|2021-09-13|天津|杨超|  male| 43|        Go|
|2021-09-21|北京|王超|  male| 39|     Swift|
|2021-09-12|深圳|张慧|female| 21|      Rust|
|2021-09-27|上海|杨伟|  male| 20|    Python|
|2021-10-14|长沙|刘涛|  male| 35|TypeScript|
|2021-10-01|南京|王伟|  male| 40|     Swift|
|2021-09-07|西安|赵丽|female| 44|        Go|
|2021-09-05|南京|周磊|  male| 38|      Java|
|2021-10-31|苏州|王磊|  male| 40|    Python|
|2021-09-26|广州|杨磊|  male| 41|    Kotlin|
|2021-09-22|苏州|吴敏|female| 44|     Swift|
|2021-10-09|苏州|黄静|female| 35|       PHP|
|2021-10-23|杭州|陈慧|female| 18|      Java|
|2021-09-15|长沙|张军|  male| 21|      Ruby|
|2021-09-19|北京|杨勇|  male| 28|    Kotlin|
|2021-09-29|杭州|王芳|female| 35|     Swift|
|2021-09-16|深圳|陈洋|  male| 43|TypeScript|
|2021-10-09|长沙|赵婷|female| 26|    Kotlin|
|2021-10-31|南京|周峰|  male| 28|       C++|
+----------+----+----+------+---+----------+
only showing top 20 rows

# 杨苏艳
# count的用法

In [90]:
total_count = df.count()
print(f"总行数: {total_count}")    # 输出: 总行数: 1001

总行数: 1001

In [91]:
#使用条件来统计人数
# 计算满足条件的行数
above_30 = df.filter(df._c4 > 30).count()
print(f"年龄大于30的人数: {above_30}")  # 输出: 年龄大于30的人数: 550

年龄大于30的人数: 539

In [92]:
#使用分组来统计人数
from pyspark.sql.functions import count

# 按年龄分组并计算每组的数量
age_counts = df.groupBy("_c4").agg(count("_c2").alias("count"))
age_counts.show()

+----+-----+
| _c4|count|
+----+-----+
|  29|   28|
|  42|   46|
|  30|   32|
|  34|   44|
|  28|   36|
|  22|   39|
|  35|   37|
|NULL|    8|
|  43|   28|
|  31|   31|
|  18|   41|
|  27|   38|
|  26|   33|
|  19|   34|
|  41|   31|
|  23|   42|
|年龄|    1|
|  40|   31|
|  38|   31|
|  25|   25|
+----+-----+
only showing top 20 rows

In [93]:
# 计算某列不同值的数量
distinct_count = df.select("_c4").distinct().count()
print(f"不同年龄的数量: {distinct_count}")

不同年龄的数量: 30

In [94]:
# 多列分组计数
# 按性别和年龄分组计数
multi_counts = df.groupBy("_c3", "_c4").count()
multi_counts.show()

+------+----+-----+
|   _c3| _c4|count|
+------+----+-----+
|  male|  45|   10|
|  male|  26|   20|
|female|  23|   14|
|  male|  25|   16|
|female|  40|   17|
|female|  19|   14|
|female|  43|   11|
|female|  35|   22|
|  male|  44|   16|
|female|  45|   22|
|female|  28|   17|
|female|  20|   12|
|female|  25|    9|
|female|NULL|    4|
|female|  29|   12|
|female|  38|   17|
|  male|  23|   28|
|female|  39|   24|
|female|  32|   19|
|female|  24|   20|
+------+----+-----+
only showing top 20 rows

In [95]:
# 去重计数
# 统计不同年龄的数量
distinct_age_count = df.select("_c4").distinct().count()
print(f"不同年龄的数量: {distinct_age_count}")

不同年龄的数量: 30

In [96]:
# 根据用户性别分组，查看用户性别人数
region_access_counts = df.groupBy("_c3").count()
region_access_counts.show()

+------+-----+
|   _c3|count|
+------+-----+
|  性别|    1|
|female|  477|
|  male|  523|
+------+-----+

In [97]:
# 使用countDistinction去重统计
from pyspark.sql.functions import countDistinct

# 使用countDistinct函数
distinct_counts = df.agg(
    countDistinct("_c4").alias("distinct_ages")
)
distinct_counts.show()

+-------------+
|distinct_ages|
+-------------+
|           29|
+-------------+

# 喻梦宇
# orderBy单列升序排序

In [98]:
df.orderBy("_c4").show(10)

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|2021-10-13|苏州|李磊|  male|NULL|      Java|
|2021-10-06|西安|王艳|female|NULL|TypeScript|
|2021-10-07|北京|黄磊|  male|NULL|        Go|
|2021-10-15|杭州|黄超|  male|NULL|    Kotlin|
|2021-10-22|苏州|黄芳|female|NULL|    Kotlin|
|2021-09-06|重庆|赵静|female|NULL|      Rust|
|2021-10-29|北京|赵丽|female|NULL|        Go|
|2021-09-22|武汉|黄洋|  male|NULL|    Python|
|2021-10-15|上海|周峰|  male|  18|     Swift|
|2021-09-03|武汉|陈军|  male|  18|JavaScript|
+----------+----+----+------+----+----------+
only showing top 10 rows

In [99]:
#orderBy单列降序排序
df.orderBy("_c4", ascending=False).show(10)

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|      日期|城市|姓名|  性别|年龄|  编程语言|
|2021-10-07|杭州|黄静|female|  45|JavaScript|
|2021-09-09|成都|黄洋|  male|  45|    Kotlin|
|2021-10-08|广州|赵静|female|  45|        Go|
|2021-10-28|杭州|周艳|female|  45|       PHP|
|2021-10-10|北京|周娜|female|  45|    Python|
|2021-10-23|天津|赵芳|female|  45|        Go|
|2021-10-18|成都|黄艳|female|  45|      Rust|
|2021-10-13|长沙|杨超|  male|  45|    Kotlin|
|2021-09-28|杭州|周涛|  male|  45|        Go|
+----------+----+----+------+----+----------+
only showing top 10 rows

In [100]:
#orderBy使用SQL表达式排序
#col 是 pyspark.sql.functions 模块中的一个函数，用于引用 DataFrame 的列（Column）
from pyspark.sql.functions import col
df.orderBy(col("_c0").desc(), col("_c4").asc()).show(10)

+----------+----+----+------+----+----------+
|       _c0| _c1| _c2|   _c3| _c4|       _c5|
+----------+----+----+------+----+----------+
|      日期|城市|姓名|  性别|年龄|  编程语言|
|2021-10-31|西安|赵洋|  male|  18|     Swift|
|2021-10-31|北京|李玲|female|  19|JavaScript|
|2021-10-31|苏州|张磊|  male|  22|     Swift|
|2021-10-31|上海|吴强|  male|  24|      Rust|
|2021-10-31|成都|王强|  male|  27|TypeScript|
|2021-10-31|南京|周峰|  male|  28|       C++|
|2021-10-31|北京|赵慧|female|  28|       C++|
|2021-10-31|广州|张艳|female|  29|       PHP|
|2021-10-31|杭州|杨婷|female|  31|     Swift|
+----------+----+----+------+----+----------+
only showing top 10 rows

In [101]:
#orderBy多列排序
df.orderBy(["_c0", "_c4"], ascending=[True, False]).show(10)

+----------+----+----+------+---+----------+
|       _c0| _c1| _c2|   _c3|_c4|       _c5|
+----------+----+----+------+---+----------+
|2021-09-01|杭州|赵娟|female| 40|        Go|
|2021-09-01|重庆|黄慧|female| 40|      Ruby|
|2021-09-01|重庆|周娜|female| 34|     Swift|
|2021-09-01|南京|张勇|  male| 34|TypeScript|
|2021-09-01|苏州|刘明|  male| 32|    Kotlin|
|2021-09-01|成都|陈军|  male| 30|      Java|
|2021-09-01|重庆|王明|  male| 30|      Java|
|2021-09-01|北京|杨洋|  male| 27|      Java|
|2021-09-01|重庆|黄芳|female| 27|      Java|
|2021-09-01|深圳|王涛|  male| 25|       PHP|
+----------+----+----+------+---+----------+
only showing top 10 rows

# 贾青逾
# groupBy的使用方法

In [102]:
# 基本形式
df.groupBy('列名') # 单列分组计数
df.groupBy('列名1','列名2')#多列分组计数

GroupedData[grouping expressions: [列名1, 列名2], value: [_c0: string, _c1: string ... 4 more fields], type: GroupBy]

In [103]:
# 单个列分组并计数
df.groupBy("_c5").count().show()

+----------+-----+
|       _c5|count|
+----------+-----+
|  编程语言|    1|
|      Rust|   82|
|JavaScript|   84|
|       C++|   87|
|     Swift|   96|
|TypeScript|   92|
|       PHP|   86|
|    Kotlin|  105|
|        Go|  101|
|      Ruby|   82|
|    Python|   93|
|      Java|   92|
+----------+-----+

In [104]:
# 多个列分组计数
df.groupBy("_c5", "_c4").count().show()

+----------+---+-----+
|       _c5|_c4|count|
+----------+---+-----+
|      Ruby| 41|    4|
|    Python| 31|    6|
|       PHP| 34|    4|
|    Kotlin| 42|    4|
|      Java| 29|    3|
|    Python| 37|    6|
|        Go| 22|    4|
|       C++| 40|    3|
|       PHP| 19|    6|
|     Swift| 19|    3|
|TypeScript| 41|    2|
|      Ruby| 26|    3|
|JavaScript| 20|    1|
|       PHP| 39|    3|
|TypeScript| 39|    4|
|       C++| 23|    3|
|JavaScript| 18|    4|
|JavaScript| 28|    1|
|    Python| 45|    2|
|      Ruby| 43|    2|
+----------+---+-----+
only showing top 20 rows

In [105]:
# # 求和
# df.groupBy("department").sum("sales")

# # 最大值
# df.groupBy("department").max("age")

# # 最小值
# df.groupBy("department").min("age")

In [106]:
# 分组后使用不同聚合函数
from pyspark.sql import functions as F

df.groupBy("_c5").agg(  F.count("*").alias("_c2"),
    F.avg("_c3").alias("avg"),
    F.max("_c3").alias("最大年龄")
).show()

+----------+---+----+--------+
|       _c5|_c2| avg|最大年龄|
+----------+---+----+--------+
|       C++| 87|NULL|    male|
|        Go|101|NULL|    male|
|      Java| 92|NULL|    male|
|JavaScript| 84|NULL|    male|
|    Kotlin|105|NULL|    male|
|       PHP| 86|NULL|    male|
|    Python| 93|NULL|    male|
|      Ruby| 82|NULL|    male|
|      Rust| 82|NULL|    male|
|     Swift| 96|NULL|    male|
|TypeScript| 92|NULL|    male|
|  编程语言|  1|NULL|    性别|
+----------+---+----+--------+

In [107]:
# 计算各城市的平均年龄
df.groupBy("_c1").agg(F.avg("_c3").alias("avg")).show()

+----+----+
| _c1| avg|
+----+----+
|南京|NULL|
|城市|NULL|
|长沙|NULL|
|西安|NULL|
|苏州|NULL|
|杭州|NULL|
|天津|NULL|
|成都|NULL|
|深圳|NULL|
|重庆|NULL|
|上海|NULL|
|北京|NULL|
|广州|NULL|
|武汉|NULL|
+----+----+

In [108]:
# 实训1   
# 用户平均年龄

from pyspark.sql.functions import avg
df.agg(avg("_c4").alias("平均年龄")).show()

+-----------------+
|         平均年龄|
+-----------------+
|31.46673387096774|
+-----------------+

In [109]:
#网站用户性别比例

from pyspark.sql import SparkSession
from pyspark.sql.functions import count, col, round
spark = SparkSession.builder.appName("GenderRatio").getOrCreate()
gender_ratio = df.groupBy("_c3") \
    .agg(
        count("*").alias("人数"),
        round((count("*") / df.count()) * 100, 2).alias("比例(%)")
    ) \
    .orderBy(col("人数").desc())
gender_ratio.show()

+------+----+-------+
|   _c3|人数|比例(%)|
+------+----+-------+
|  male| 523|  52.25|
|female| 477|  47.65|
|  性别|   1|    0.1|
+------+----+-------+

In [110]:
# 不同地区的访问用户人数
region_access_counts = df.groupBy("_c1").count()
region_access_counts.show()

+----+-----+
| _c1|count|
+----+-----+
|南京|   83|
|城市|    1|
|长沙|   68|
|西安|   74|
|苏州|   64|
|杭州|   80|
|天津|   98|
|成都|   81|
|深圳|   73|
|重庆|   73|
|上海|   80|
|北京|   80|
|广州|   81|
|武汉|   65|
+----+-----+

In [111]:
# 用户关注的技术
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("LanguageCount").getOrCreate()
language_counts = df.groupBy("_c5") \
                  .count() \
                  .orderBy(col("count").desc())
language_counts.show()

+----------+-----+
|       _c5|count|
+----------+-----+
|    Kotlin|  105|
|        Go|  101|
|     Swift|   96|
|    Python|   93|
|TypeScript|   92|
|      Java|   92|
|       C++|   87|
|       PHP|   86|
|JavaScript|   84|
|      Rust|   82|
|      Ruby|   82|
|  编程语言|    1|
+----------+-----+

In [112]:
# 关注python的用户及地区
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("PythonUsersByRegion").getOrCreate()
python_users_by_region = df.filter(col("_c5") == "Python") \
                         .groupBy("_c1") \
                         .count() \
                         .orderBy(col("count").desc())

print("各地区关注Python的人数统计:")
python_users_by_region.show()
total_python_users = df.filter(col("_c5") == "Python").count()
print(f"\n关注Python的总人数: {total_python_users}")

各地区关注Python的人数统计:
+----+-----+
| _c1|count|
+----+-----+
|成都|   11|
|南京|    9|
|天津|    9|
|北京|    9|
|深圳|    8|
|重庆|    8|
|上海|    8|
|武汉|    7|
|杭州|    6|
|广州|    6|
|长沙|    5|
|西安|    4|
|苏州|    3|
+----+-----+


关注Python的总人数: 93

# 樊蓉槟
# 用dropDuplicates函数去重

In [113]:
#dropDuplicates是PySpark DataFrame API中的一个重要函数，用于处理数据中的重复项#
df.dropDuplicates()
#用dropDuplicates函数去重，用select单独列出城市一列，从而实现筛选出学习编程语言的人出自哪些城市#
df.dropDuplicates(['_c5']).select('_c1').show()

+----+
| _c1|
+----+
|南京|
|天津|
|南京|
|深圳|
|广州|
|西安|
|上海|
|长沙|
|深圳|
|北京|
|长沙|
|城市|
+----+

# 张丙波
# 使用summary统计

In [115]:
#统计学习编程语言年龄最小者和最大者

from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max

# 创建SparkSession
spark = SparkSession.builder.appName("LanguageAgeAnalysis").getOrCreate()

# 读取CSV文件
df = spark.read.csv("用户访问日志文件部分数据.csv", header=True, inferSchema=True)

# 按编程语言分组，计算最小和最大年龄
age_stats = df.groupBy("编程语言").agg(
    min("年龄").alias("最小年龄"),
    max("年龄").alias("最大年龄")
).orderBy("编程语言")

# 显示结果
age_stats.show(truncate=False)

+----------+--------+--------+
|编程语言  |最小年龄|最大年龄|
+----------+--------+--------+
|C++       |18      |44      |
|Go        |18      |45      |
|Java      |18      |45      |
|JavaScript|18      |45      |
|Kotlin    |18      |45      |
|PHP       |18      |45      |
|Python    |18      |45      |
|Ruby      |18      |45      |
|Rust      |18      |45      |
|Swift     |18      |45      |
|TypeScript|18      |45      |
+----------+--------+--------+

In [116]:
#统计城市为长沙的平均年龄

# 筛选长沙用户并使用summary()函数
changsha_summary = df.filter(df["城市"] == "长沙") \
                   .select("年龄") \
                   .summary("mean")

# 显示结果
changsha_summary.show()

+-------+------------------+
|summary|              年龄|
+-------+------------------+
|   mean|30.455882352941178|
+-------+------------------+

In [117]:
#统计学习C++的用户中年龄最大者

from pyspark.sql import SparkSession

# 创建SparkSession
spark = SparkSession.builder.appName("ProgrammingLanguageAnalysis").getOrCreate()

# 读取CSV文件
df = spark.read.csv("用户访问日志文件部分数据.csv", header=True, inferSchema=True)

# 筛选使用C++的用户并统计年龄
cpp_users_stats = df.filter(df["编程语言"] == "C++") \
                   .select("年龄") \
                   .summary("max")  # 只获取最大值

# 显示结果
cpp_users_stats.show()

+-------+----+
|summary|年龄|
+-------+----+
|    max|  44|
+-------+----+

In [118]:
#统计学习C++的用户中年龄最小者
from pyspark.sql import SparkSession

# 创建SparkSession
spark = SparkSession.builder.appName("ProgrammingLanguageAnalysis").getOrCreate()

# 读取CSV文件
df = spark.read.csv("用户访问日志文件部分数据.csv", header=True, inferSchema=True)

# 筛选学习C++的用户并统计年龄信息
cpp_users_stats = df.filter(df["编程语言"] == "C++") \
                   .select("年龄") \
                   .summary("min")  # 使用summary函数获取最小值

# 显示结果
cpp_users_stats.show()

+-------+----+
|summary|年龄|
+-------+----+
|    min|  18|
+-------+----+

In [119]:
changsha_count = df.filter(col("城市") == "长沙").count()
print(f"长沙的用户人数: {changsha_count}")

长沙的用户人数: 68