In [ ]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import column
#添加注释#
conf=SparkConf().setAppName("test").setMaster("local[*]")
sc=SparkContext.getOrCreate(conf)
spark=SparkSession(sc)

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('text').master("local").getOrCreate()
sc=spark.sparkContext

In [3]:
c = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('D:\Pyspark\code/air_data_customer.csv')
f = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('D:\Pyspark\code/air_data_flight.csv')
p = spark.read.option('header','true').option('inferSchema','true').option('encoding','gbk').option('delimiter',',').csv('D:\Pyspark\code/air_data_points.csv')

In [4]:
c.show(3)
f.show(3)
p.show(3)

+---------+---------+------+--------+-------------+------------+---+
|MEMBER_NO| FFP_DATE|GENDER|FFP_TIER|WORK_PROVINCE|WORK_COUNTRY|AGE|
+---------+---------+------+--------+-------------+------------+---+
|    54993|2006/11/2|    男|       6|         北京|          CN| 31|
|    28065|2007/2/19|    男|       6|         北京|          CN| 42|
|    55106| 2007/2/1|    男|       6|         北京|          CN| 40|
+---------+---------+------+--------+-------------+------------+---+
only showing top 3 rows

+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
|MEMBER_NO|FIRST_FLIGHT_DATE|LOAD_TIME|FLIGHT_COUNT|SEG_KM_SUM|LAST_FLIGHT_DATE|SUM_YR_1|SUM_YR_2|LAST_TO_END|AVG_DISCOUNT|AVG_INTERVAL|MAX_INTERVAL|
+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
|    54993|       2008/12/24|2014/3/31|         210|    580717|       2014/3/31|239560.0|  234188|          1| 0.961639043| 3.483253589|          18|
|    28065|         2007/8/3|2014/3/31|         140|    293678|       2014/3/25|171483.0|  167434|          7|  1.25231444| 5.194244604|          17|
|    55106|        2007/8/30|2014/3/31|         135|    283712|       2014/3/21|163618.0|  164982|         11| 1.254675516| 5.298507463|          18|
+---------+-----------------+---------+------------+----------+----------------+--------+--------+-----------+------------+------------+------------+
only showing top 3 rows

+---------+--------------+------+------+----------+--------------+----------+
|MEMBER_NO|EXCHANGE_COUNT|EP_SUM|BP_SUM|AVG_BP_SUM|BEGIN_TO_FIRST|Points_Sum|
+---------+--------------+------+------+----------+--------------+----------+
|    54993|            34| 74460|505308|   63163.5|             2|    619760|
|    28065|            29| 41288|362480|   45310.0|             2|    415768|
|    55106|            20| 39711|351159| 43894.875|            10|    406361|
+---------+--------------+------+------+----------+--------------+----------+
only showing top 3 rows

In [5]:
jdbcdf = spark.read.format('jdbc')\
    .option('driver', 'com.mysql.cj.jdbc.Driver')\
    .option('url', 'jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true')\
    .option('dbtable', 'student')\
    .option('user', 'root')\
    .option('password', '123456')\
    .load()

jdbcdf.show()

+---+--------------------+------+---+
| id|                name|gender|age|
+---+--------------------+------+---+
|  1|Zhangsan            |  M   | 19|
|  2|Limei               |  F   | 19|
+---+--------------------+------+---+

In [6]:
jdbcdf.show()

+---+--------------------+------+---+
| id|                name|gender|age|
+---+--------------------+------+---+
|  1|Zhangsan            |  M   | 19|
|  2|Limei               |  F   | 19|
+---+--------------------+------+---+

In [7]:
Listrdd=sc.parallelize([('zhangsan',18,588),('Lisi',18,590),('wangwu',17,560)])
Listdf=Listrdd.toDF(['name','age','score'])
Listdf.show()

+--------+---+-----+
|    name|age|score|
+--------+---+-----+
|zhangsan| 18|  588|
|    Lisi| 18|  590|
|  wangwu| 17|  560|
+--------+---+-----+

In [8]:
values = [('ZhangSan', 18), ('Lisi', 18), ('WangWu', 17)]
Listdf2 = spark.createDataFrame(values, ['name', 'age'])
Listdf2.show()

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "d:\Pyspark\Anaconda3\envs\pyspark\Lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Pyspark\Anaconda3\envs\pyspark\Lib\site-packages\py4j\clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "d:\Pyspark\Anaconda3\envs\pyspark\Lib\socket.py", line 718, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
import pandas as pd

pdf = pd.DataFrame([('张三', 18), ('李四', 18), ('王五', 17)], columns=['name', 'age'])
pandasdf = spark.createDataFrame(pdf)
pandasdf.show()

+----+---+
|name|age|
+----+---+
|张三| 18|
|李四| 18|
|王五| 17|
+----+---+

In [ ]:
from pyspark.sql.types import *
from pyspark.sql import Row
from datetime import datetime

schema = StructType([StructField('name', StringType(), nullable=False), \
    StructField('score', IntegerType(), nullable=True), \
    StructField('birthday', DateType(), nullable=True)])

rdd = sc.parallelize([Row('ZhangSan', 588, datetime(2013, 1, 15)), \
    Row('Lisi', 599, datetime(2013, 5, 12)), \
    Row('WangWu', 560, datetime(2014, 7, 23))])

df4 = spark.createDataFrame(rdd, schema)
df4.show()

+--------+-----+----------+
|    name|score|  birthday|
+--------+-----+----------+
|ZhangSan|  588|2013-01-15|
|    Lisi|  599|2013-05-12|
|  WangWu|  560|2014-07-23|
+--------+-----+----------+

分割线————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————